/* set form background image  */
.service-background{
    background-image: url(https://image.freepik.com/free-vector/colorful-ahmedabad-skyline_23-2148625518.jpg);
    background-size: cover;
}
/* set form background  */
.form-background{
    background-color: rgba(138, 152, 165, 0.377);
}
/* form control - large device */
@media (min-width: 576px) {
    .add-service{
        width: 50%;
        margin-inline: auto;
        padding: 20px 30px 50px;
    }
    .add-service input, textarea{
        align-items: center;
        display: block;
        margin-top: 20px;
        padding: 7px;
        border: 1px solid rgb(59, 58, 58);
        border-radius: 5px;
        width: 100%;
    }
    .add-service input:hover, textarea:hover{
        transform: scale(1.02);
    }
}
/* form control - small device  */
@media (max-width: 575px) {
    .add-service{
        padding: 30px;
    }
    .add-service input, textarea{
        align-items: center;
        display: block;
        margin-top: 20px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
        width: 100%;
    }
}