.image-handel:hover{
    transform: scale(1.06);
    transition-duration: 2s;
}
.card:hover{
    transform: scale(1.01);
}
/* responsive image  */
@media (min-width: 576px) {
    .image-handel{
        height: 100px;
    }
}